body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 1rem;
    color: #333;
}

body.dark {
    background-color: #333;
    color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.version {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.key {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.translation, .tafseer {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

button {
    padding: 0.5rem 1rem;
    background-color: #808000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #606400;
}
button:focus {
    outline: none;
}
button:active {
    background-color: #405000;
}
button.dark {
    background-color: #808000;
}
button.dark:hover {
    background-color: #606400;
}
button.dark:active {
    background-color: #405000;
}
button.dark:focus {
    outline: none;
}